// Copic Colors w/ Hex Codes
// Source:     http://blog.paigeedraw.com/2012/07/copic-marker-color-rgb-hex-conversion.html

$copic-colorless:               #ffffff; // 0
$copic-black:                   #312b2b;  // 100
$copic-special-black:           #030708;  // 110
$copic-pale-celestine:          #f0f9fe;  // b0000
$copic-pale-porcelain-blue:     #e6f4f5;  // b000
$copic-frost-blue:              #ddf0f4;  // b00
$copic-mint-blue:               #d6eef2;  // b01
$copic-robins-egg-blue:         #b3e3f1;  // b02
$copic-tahitian-blue:           #73cfe6;  // b04
$copic-process-blue:            #40c5e6;  // b05
$copic-peacock-blue:            #00b3e6;  // b06
$copic-ice-blue:                #c8e6f0;  // b12
$copic-light-blue:              #71cfeb;  // b14
$copic-cyanine-blue:            #00bcea;  // b16
$copic-lapis-lazuli:            #1d8acb;  // b18
$copic-baby-blue:               #dbedf9;  // b21
$copic-phthalo-blue:            #92c2e8;  // b23
$copic-b24:     #8acef3;
$copic-b26:     #65b3e3;
$copic-b28:     #196db6;
$copic-b29:     #0177c1;
$copic-b32:     #e2eff7;
$copic-b34:     #82c3ed;
$copic-b37:     #156fa4;
$copic-b39:     #2b64a9;
$copic-b41:     #e2f0fb;
$copic-b45:     #75c0ea;
$copic-b52:     #adcddc;
$copic-b60:     #dae1f3;
$copic-b63:     #a7bbe0;
$copic-b66:     #6888c5;
$copic-b69:     #2165ae;
$copic-b79:     #3b479d;
$copic-b91:     #d5e2eb;
$copic-b93:     #95c1da;
$copic-b95:     #60c5cf;
$copic-b97:     #457a9a;
$copic-b99:     #0f547e;
$copic-bg0000:  #eff8f3;
$copic-bg000:   #e5f4ed;
$copic-bg01:    #c7e6fa;
$copic-bg02:    #c6e8ea;
$copic-bg05:    #1db8ce;
$copic-bg07:    #1db8ce;
$copic-bg09:    #dcf0ef;
$copic-bg10:    #dcf0ef;
$copic-bg11:    #ceebf1;
$copic-bg13:    #c4e7e9;
$copic-bg15:    #a0d9d2;
$copic-bg18:    #37c0b0;
$copic-bg23:    #bde5dd;
$copic-bg32:    #bce2d7;
$copic-bg34:    #a3dad7;
$copic-bg45:    #afdfdf;
$copic-bg49:    #00b6b9;
$copic-bg53:    #accfd1;
$copic-bg57:    #64bebe;
$copic-bg70:    #daecee;
$copic-bg72:    #74b8bb;
$copic-bg75:    #59918e;
$copic-bg78:    #49706b;
$copic-bg90:    #bac1b9;
$copic-bg93:    #bac1b9;
$copic-bg96:    #81a291;
$copic-bg99:    #6e9b87;
$copic-bv0000:  #eae7f2;
$copic-bv000:   #eae7f2;
$copic-bv00:    #e0dced;
$copic-bv01:    #c4c9e6;
$copic-bv02:    #aab8db;
$copic-bv04:    #7c97ce;
$copic-bv08:    #eae7f2;
$copic-bv11:    #d4d2e8;
$copic-bv13:    #8491c8;
$copic-bv17:    #6e84bd;
$copic-bv20:    #cfdbf1;
$copic-bv23:    #b1c0dd;
$copic-bv25:    #8184a7;
$copic-bv29:    #384558;
$copic-bv31:    #eae7f2;
$copic-bv34:    #9fa7bc;
$copic-c00:     #e0e7ed;
$copic-c0:      #e0e7ed;
$copic-c10:     #202b31;
$copic-c1:      #dae3e8;
$copic-c2:      #ccd7dd;
$copic-c3:      #c1ccd2;
$copic-c4:      #92a0ab;
$copic-c5:      #92a0ab;
$copic-c6:      #637079;
$copic-c7:      #637079;
$copic-c8:      #535d66;
$copic-c9:      #3c474d;
$copic-e0000:   #fffaf4;
$copic-e000:    #fef5ee;
$copic-e00:     #fdf3ea;
$copic-e01:     #ffeee4;
$copic-e02:     #feece0;
$copic-e04:     #e4bcc4;
$copic-e07:     #cc816a;
$copic-e08:     #ca6553;
$copic-e09:     #d96a4f;
$copic-e11:     #fee9d6;
$copic-e13:     #e9c5af;
$copic-e15:     #fbbb8d;
$copic-e17:     #b85f57;
$copic-e18:     #88534d;
$copic-e19:     #c45238;
$copic-e21:     #fde2c7;
$copic-e23:     #eccab1;
$copic-e25:     #d2a482;
$copic-e27:     #997663;
$copic-e29:     #884636;
$copic-e30:     #f7f0d6;
$copic-e31:     #f2e6ce;
$copic-e33:     #f3d2b1;
$copic-e34:     #f0caa6;
$copic-e35:     #e6c3a3;
$copic-e37:     #cc9159;
$copic-e39:     #c5743f;
$copic-e40:     #f2e8dc;
$copic-e41:     #fef1e1;
$copic-e42:     #f3ead9;
$copic-e43:     #e8dabd;
$copic-e44:     #8a6e59;
$copic-e47:     #8a6e59;
$copic-e49:     #634c3c;
$copic-e50:     #f4ebf0;
$copic-e51:     #feecd6;
$copic-e53:     #f1dfb9;
$copic-e55:     #f1dfb9;
$copic-e57:     #b18558;
$copic-e59:     #9a7f6c;
$copic-e70:     #efeae6;
$copic-e71:     #a1847c;
$copic-e74:     #a1847c;
$copic-e77:     #7f604e;
$copic-e79:     #4a2c22;
$copic-e81:     #f0e6c2;
$copic-e84:     #ae9f80;
$copic-e87:     #6f604d;
$copic-e89:     #5a4939;
$copic-e93:     #fed2b9;
$copic-e95:     #fcbc7e;
$copic-e97:     #b46034;
$copic-e99:     #b46034;
$copic-frv1:    #f5a3c7;
$copic-fv2:     #7f74b6;
$copic-fy1:     #fff697;
$copic-fyr1:    #fecc99;
$copic-g0000:   #f1f7f3;
$copic-g000:    #eaf5ed;
$copic-g00:     #e3f2ed;
$copic-g02:     #cfe8d3;
$copic-g03:     #b6da9c;
$copic-g05:     #69c07b;
$copic-g07:     #7bc576;
$copic-g09:     #7ac465;
$copic-g12:     #d2e8c4;
$copic-g14:     #97cf90;
$copic-g16:     #60c198;
$copic-g17:     #14b37d;
$copic-g19:     #2db98a;
$copic-g20:     #edf6db;
$copic-g21:     #c4e4cd;
$copic-g24:     #c3e0b4;
$copic-g28:     #119462;
$copic-g29:     #197c5d;
$copic-g40:     #e4f1df;
$copic-g43:     #d7e7a8;
$copic-g46:     #589F75;
$copic-g82:     #ccdab9;
$copic-g85:     #9dc3aa;
$copic-g94:     #98a786;
$copic-g99:     #5f7e3a;
$copic-n0:      #eceeed;
$copic-n10:     #312f30;
$copic-n1:      #e2e3e5;
$copic-n2:      #dadbdd;
$copic-n3:      #d1d2d4;
$copic-n4:      #bcbdc1;
$copic-n5:      #a8a9ad;
$copic-n6:      #949599;
$copic-n7:      #77787c;
$copic-n8:      #636466;
$copic-n9:      #4c4d4f;
$copic-r0000:   #fef3ef;
$copic-r000:    #fef0e7;
$copic-r00:     #feeae1;
$copic-r01:     #fde0d8;
$copic-r02:     #fdd3c7;
$copic-r05:     #f6917b;
$copic-r07:     #f26f39;
$copic-r08:     #f26754;
$copic-r11:     #fde1d5;
$copic-r12:     #fcd3c1;
$copic-r14:     #f59b92;
$copic-r17:     #f4846c;
$copic-r20:     #fcd7cf;
$copic-r21:     #fac1b6;
$copic-r22:     #f8b7b1;
$copic-r24:     #f27579;
$copic-r27:     #f15062;
$copic-r29:     #ed174b;
$copic-r30:     #fce3df;
$copic-r32:     #fac1ba;
$copic-r35:     #f27185;
$copic-r37:     #e86c74;
$copic-r39:     #cb487a;
$copic-r43:     #ee848e;
$copic-r46:     #e04d69;
$copic-r56:     #d27c95;
$copic-r59:     #b74f70;
$copic-r81:     #f1c8d6;
$copic-r83:     #f19cb9;
$copic-r85:     #d36a93;
$copic-r89:     #7d2b42;
$copic-rv0000:  #f2eaf5;
$copic-rv000:   #f4e2ee;
$copic-rv00:    #f1daea;
$copic-rv02:    #fad5e6;
$copic-rv04:    #f6a3bf;
$copic-rv06:    #f386af;
$copic-rv10:    #fdecf4;
$copic-rv11:    #fbd6dd;
$copic-rv13:    #f9c9d7;
$copic-rv14:    #f495b7;
$copic-rv17:    #db7eb3;
$copic-rv19:    #d268aa;
$copic-rv21:    #fde8e7;
$copic-rv23:    #f8bac9;
$copic-rv25:    #f493be;
$copic-rv29:    #ef4880;
$copic-rv32:    #fad3ce;
$copic-rv34:    #f9afae;
$copic-rv42:    #f8bbb6;
$copic-rv52:    #f9cade;
$copic-rv55:    #e9a5ca;
$copic-rv63:    #d09dae;
$copic-rv66:    #b86a84;
$copic-rv69:    #8b576e;
$copic-rv95:    #b684a1;
$copic-rv99:    #5a4858;
$copic-t0:      #eceeed;
$copic-t10:     #322e2d;
$copic-t1:      #eaeae8;
$copic-t2:      #e0e0de;
$copic-t3:      #d1d2cc;
$copic-t4:      #bcbbb9;
$copic-t5:      #a8a7a3;
$copic-t6:      #949590;
$copic-t7:      #777674;
$copic-t8:      #63645f;
$copic-t9:      #4c4b49;
$copic-tg13:    #d4e59f;
$copic-tr000:   #feecd8;
$copic-v0000:   #f0edf6;
$copic-v000:    #e9e5f3;
$copic-v01:     #e4c1d9;
$copic-v04:     #e6aace;
$copic-v05:     #e2a6ca;
$copic-v06:     #ce95c2;
$copic-v09:     #8754a1;
$copic-v12:     #eed7e9;
$copic-v15:     #d3a6cd;
$copic-v17:     #a092c7;
$copic-v20:     #e2e0ed;
$copic-v22:     #b2b1d0;
$copic-v25:     #857fad;
$copic-v28:     #6b668e;
$copic-v91:     #e8c4d0;
$copic-v93:     #e5c1db;
$copic-v95:     #b77ca8;
$copic-v99:     #524358;
$copic-w00:     #f3f3eb;
$copic-w0:      #ecece4;
$copic-w10:     #302f2b;
$copic-w1:      #e7e7df;
$copic-w2:      #ddddd5;
$copic-w3:      #d2d2ca;
$copic-w4:      #bcbdb7;
$copic-w5:      #a8a9a4;
$copic-w6:      #94958f;
$copic-w7:      #777873;
$copic-w8:      #63645f;
$copic-w9:      #4c4d48;
$copic-y0000:   #fefef4;
$copic-y000:    #fffce9;
$copic-y00:     #fefddf;
$copic-y02:     #f6f396;
$copic-y04:     #ede556;
$copic-y06:     #fef56c;
$copic-y08:     #fef200;
$copic-y11:     #fffbcc;
$copic-y13:     #fbf7ae;
$copic-y15:     #fee96c;
$copic-y17:     #ffe455;
$copic-y18:     #feed55;
$copic-y19:     #ffe93e;
$copic-y21:     #ffeec2;
$copic-y23:     #fbe3b3;
$copic-y26:     #f0dd67;
$copic-y28:     #caa869;
$copic-y32:     #f9dec0;
$copic-y35:     #ffd879;
$copic-y38:     #ffd274;
$copic-yg0000:  #f2f7e0;
$copic-yg00:    #e6e69e;
$copic-yg01:    #e2ebb2;
$copic-yg03:    #deeaaa;
$copic-yg05:    #d6e592;
$copic-yg06:    #c4df92;
$copic-yg07:    #a5cf4f;
$copic-yg09:    #82c566;
$copic-yg11:    #e5f0d0;
$copic-yg17:    #72c156;
$copic-yg21:    #f7f6be;
$copic-yg23:    #e6eb8f;
$copic-yg25:    #d0e17b;
$copic-yg41:    #d5ebd4;
$copic-yg45:    #b4dcb7;
$copic-yg61:    #d6e9d6;
$copic-yg63:    #a0caa2;
$copic-yg67:    #81bf8c;
$copic-yg91:    #dad7ae;
$copic-yg93:    #d2d29c;
$copic-yg95:    #cbc65e;
$copic-yg97:    #958f03;
$copic-yg99:    #4e6a15;
$copic-yr0000:  #fff3e5;
$copic-yr00:    #fed6bd;
$copic-yr01:    #fedac2;
$copic-yr02:    #fcdcc5;
$copic-yr04:    #fec369;
$copic-yr07:    #f26f39;
$copic-yr09:    #f15524;
$copic-yr12:    #ffe2a6;
$copic-yr14:    #fec84e;
$copic-yr15:    #fbb884;
$copic-yr16:    #feb729;
$copic-yr18:    #f26b3c;
$copic-yr20:    #ffe1bf;
$copic-yr21:    #f5ddb1;
$copic-yr23:    #eccf8b;
$copic-yr24:    #f0cf64;
$copic-yr30:    #fef2da;
$copic-yr31:    #ffdea8;
$copic-yr61:    #fddac4;
$copic-yr65:    #faae60;
$copic-yr68:    #f37022;
$copic-yr82:    #fdc68d;