// ============================================================================
// FS595 Colors
// ============================================================================

$color_fs595_hex: (

    fs_10055: #633517,      // Highway Brown
    fs_11086: #a6001a,      // Highway Red
    fs_12243: #e06000,      // Highway Orange
    fs_13415: #ee9600,      // Highway Schoolbus
    fs_13507: #ffab00,      // Highway Yellow
    fs_14066: #004d33,      // Highway Green
    fs_15065: #00477e,      // Highway Blue

)
