// ============================================================================
// RAL Colors
// ============================================================================

$color_ral_hex: (
    // RAL | 1xxx (Yellow)
    // ------------------------------------------------------------------------
    ral_1000: #ccc58f,
    // Green beige
    ral_1001: #d1bc8a,
    // Beige
    ral_1002: #d2b773,
    // Sand yellow
    ral_1003: #f7ba0b,
    // Signal yellow
    ral_1004: #e2b007,
    // Golden yellow
    ral_1005: #c89f04,
    // Honey yellow
    ral_1006: #e1a100,
    // Maize yellow
    ral_1007: #e79c00,
    // Daffodil yellow
    ral_1011: #af8a54,
    // Brown beige
    ral_1012: #d9c022,
    // Lemon yellow
    ral_1013: #e9e5ce,
    // Oyster white
    ral_1014: #dfcea1,
    // Ivory
    ral_1015: #eadebd,
    // Light ivory
    ral_1016: #eaf044,
    // Sulfur yellow
    ral_1017: #f4b752,
    // Saffron yellow
    ral_1018: #f3e03b,
    // Zinc yellow
    ral_1019: #a4957d,
    // Grey beige
    ral_1020: #9a9464,
    // Olive yellow
    ral_1021: #eec900,
    // Rape yellow
    ral_1023: #f0ca00,
    // traffic yellow
    ral_1024: #b89c50,
    // Ochre yellow
    ral_1026: #f5ff00,
    // Luminous yellow
    ral_1027: #a38c15,
    // Curry
    ral_1028: #ffab00,
    // Melon yellow
    ral_1032: #ddb20f,
    // Broom yellow
    ral_1033: #faab21,
    // Dahlia yellow
    ral_1034: #edab56,
    // Pastel yellow
    ral_1035: #a29985,
    // Pearl beige
    ral_1036: #927549,
    // Pearl gold
    ral_1037: #eea205,

    // Sun yellow
    // RAL | 2xxx (Orange)
    // ------------------------------------------------------------------------
    ral_2000: #dd7907,
    // Yellow orange
    ral_2001: #be4e20,
    // Red orange
    ral_2002: #c63927,
    // Vermillion
    ral_2003: #fa842b,
    // Pastel orange
    ral_2004: #e75b12,
    // Pure orange
    ral_2005: #ff2300,
    // Luminous orange
    ral_2007: #ffa421,
    // Luminous bright orange
    ral_2008: #f3752c,
    // Bright red orange
    ral_2009: #e15501,
    // traffic orange
    ral_2010: #d4652f,
    // Signal orange
    ral_2011: #ec7c25,
    // Deep orange
    ral_2012: #db6a50,
    // Salmon orange
    ral_2013: #954527,

    // Pearl orange
    // RAL | 3xxx (Red)
    // ------------------------------------------------------------------------
    ral_3000: #ab2524,
    // Flame red
    ral_3001: #a02128,
    // Signal red
    ral_3002: #a1232b,
    // Carmine red
    ral_3003: #8d1d2c,
    // Ruby red
    ral_3004: #701f29,
    // Purple red
    ral_3005: #5e2028,
    // Wine red
    ral_3007: #402225,
    // Black red
    ral_3009: #703731,
    // Oxide red
    ral_3011: #7e292c,
    // Brown red
    ral_3012: #cb8d73,
    // Beige red
    ral_3013: #9c322e,
    // Tomato red
    ral_3014: #d47479,
    // Antique pink
    ral_3015: #e1a6ad,
    // Light pink
    ral_3016: #ac4034,
    // Coral red
    ral_3017: #d3545f,
    // Rose
    ral_3018: #d14152,
    // Strawberry red
    ral_3020: #c1121c,
    // traffic red
    ral_3022: #d56d56,
    // Salmon pink
    ral_3024: #f70000,
    // Luminous red
    ral_3026: #ff0000,
    // Luminous bright red
    ral_3027: #b42041,
    // Raspberry red
    ral_3028: #e72512,
    // Pure red
    ral_3031: #ac323b,
    // Orient red
    ral_3032: #711521,
    // Pearl ruby red
    ral_3033: #b24c43,

    // Pearl pink
    // RAL | 4xxx (Violet)
    // ------------------------------------------------------------------------
    ral_4001: #8a5a83,
    // Red lilac
    ral_4002: #933d50,
    // Red violet
    ral_4003: #d15b8f,
    // Heather violet
    ral_4004: #691639,
    // Claret violet
    ral_4005: #83639d,
    // Blue lilac
    ral_4006: #992572,
    // Traffic purple
    ral_4007: #4a203b,
    // Purple violet
    ral_4008: #904684,
    // Signal violet
    ral_4009: #a38995,
    // Pastel violet
    ral_4010: #c63678,
    // Telemagenta
    ral_4011: #8773a1,
    // Pearl violet
    ral_4012: #6b6880,

    // Pearl blackberry
    // RAL | 5xxx (Blue)
    // ------------------------------------------------------------------------
    ral_5000: #384c70,
    // Violet blue
    ral_5001: #1f4764,
    // Green blue
    ral_5002: #2b2c7c,
    // Ultramarine blue
    ral_5003: #2a3756,
    // Sapphire blue
    ral_5004: #1d1f2a,
    // Black blue
    ral_5005: #154889,
    // Signal blue
    ral_5007: #41678d,
    // Brilliant blue
    ral_5008: #313c48,
    // Grey blue
    ral_5009: #2e5978,
    // Azure blue
    ral_5010: #13447c,
    // Gentian blue
    ral_5011: #232c3f,
    // Steel blue
    ral_5012: #3481b8,
    // Light blue
    ral_5013: #232d53,
    // Cobalt blue
    ral_5014: #6c7c98,
    // Pigeon blue
    ral_5015: #2874b2,
    // Sky blue
    ral_5017: #0e518d,
    // Traffic blue
    ral_5018: #21888f,
    // Turquoise blue
    ral_5019: #1a5784,
    // Capri blue
    ral_5020: #0b4151,
    // Ocean blue
    ral_5021: #07737a,
    // Water blue
    ral_5022: #2f2a5a,
    // Night blue
    ral_5023: #4d668e,
    // Distant blue
    ral_5024: #6a93b0,
    // Pastel blue
    ral_5025: #296478,
    // Pearl Gentian blue
    ral_5026: #102c54,

    // Pearl night blue
    // RAL | 6xxx (Green)
    // ------------------------------------------------------------------------
    ral_6000: #327662,
    // Patina green
    ral_6001: #28713e,
    // Emerald green
    ral_6002: #276235,
    // Leaf green
    ral_6003: #4b573e,
    // Olive Green
    ral_6004: #0e4243,
    // Blue green
    ral_6005: #0f4336,
    // Moss green
    ral_6006: #40433b,
    // Grey olive
    ral_6007: #283424,
    // Bottle green
    ral_6008: #35382e,
    // Brown green
    ral_6009: #26392f,
    // Fir green
    ral_6010: #3e753b,
    // Grass green
    ral_6011: #68825b,
    // Reseda green
    ral_6012: #31403d,
    // Black green
    ral_6013: #797c5a,
    // Reed green
    ral_6014: #444337,
    // Yellow olive
    ral_6015: #3d403a,
    // Black olive
    ral_6016: #026a52,
    // Turquoise green
    ral_6017: #468641,
    // May green
    ral_6018: #48a43f,
    // Yellow green
    ral_6019: #b7d9b1,
    // pastel green
    ral_6020: #354733,
    // Chrome green
    ral_6021: #86a47c,
    // Pale green
    ral_6022: #3e3c32,
    // Brown olive
    ral_6024: #008754,
    // Traffic green
    ral_6025: #53753c,
    // Fern green
    ral_6026: #005d52,
    // Opal green
    ral_6027: #81c0bb,
    // Light green
    ral_6028: #2d5546,
    // Pine green
    ral_6029: #007243,
    // Mint green
    ral_6032: #0f8558,
    // Signal green
    ral_6033: #478a84,
    // Mint turquoise
    ral_6034: #7fb0b2,
    // Pastel turquoise
    ral_6035: #1b542c,
    // Pearl green
    ral_6036: #005d4c,
    // Pearl opal green
    ral_6037: #25e712,
    // Pure green
    ral_6038: #00f700,

    // Luminous green
    // RAL | 7xxx (Grey)
    // ------------------------------------------------------------------------
    ral_7000: #7e8b92,
    // Squirrel grey
    ral_7001: #8f999f,
    // Silver grey
    ral_7002: #817f68,
    // Olive grey
    ral_7003: #7a7b6d,
    // Moss grey
    ral_7004: #9ea0a1,
    // Signal grey
    ral_7005: #6b716f,
    // Mouse grey
    ral_7006: #756f61,
    // Beige grey
    ral_7008: #746643,
    // Khaki grey
    ral_7009: #5b6259,
    // Green grey
    ral_7010: #575d57,
    // Tarpaulin grey
    ral_7011: #555d61,
    // Iron grey
    ral_7012: #596163,
    // Basalt grey
    ral_7013: #555548,
    // Brown-grey also NATO-olive, Stone-grey-olive
    ral_7015: #51565c,
    // Slate grey
    ral_7016: #373f43,
    // Anthracite grey
    ral_7021: #2e3234,
    // Black grey
    ral_7022: #4b4d46,
    // Umbra grey
    ral_7023: #818479,
    // Concrete grey
    ral_7024: #474a50,
    // Graphite grey
    ral_7026: #374447,
    // Granite grey
    ral_7030: #939388,
    // Stone grey
    ral_7031: #5d6970,
    // Blue grey
    ral_7032: #b9b9a8,
    // Pebble grey
    ral_7033: #818979,
    // Cement grey
    ral_7034: #939176,
    // Yellow grey
    ral_7035: #cbd0cc,
    // Light grey
    ral_7036: #9a9697,
    // Platinum grey
    ral_7037: #7c7f7e,
    // Dusty grey
    ral_7038: #b4b8b0,
    // Agate grey
    ral_7039: #6b695f,
    // Quartz grey
    ral_7040: #9da3a6,
    // Window grey
    ral_7042: #8f9695,
    // Traffic grey A
    ral_7043: #4e5451,
    // Traffic grey B
    ral_7044: #bdbdb2,
    // Silk grey
    ral_7045: #91969a,
    // Telegrey 1
    ral_7046: #82898e,
    // Telegrey 2
    ral_7047: #cfd0cf,
    // Telegrey 4
    ral_7048: #888175,

    // Pearl mouse grey
    // RAL | 8xxx (Brown)
    // ------------------------------------------------------------------------
    ral_8000: #887142,
    // Green brown
    ral_8001: #9c6b30,
    // Ochre brown
    ral_8002: #7b5141,
    // Signal brown
    ral_8003: #80542f,
    // Clay brown
    ral_8004: #8f4e35,
    // Copper brown
    ral_8007: #6f4a2f,
    // Fawn brown
    ral_8008: #6f4f28,
    // Olive brown
    ral_8011: #5a3a29,
    // Nut brown
    ral_8012: #673831,
    // Red brown
    ral_8014: #49392d,
    // Sepia brown
    ral_8015: #633a34,
    // Chestnut brown
    ral_8016: #4c2f26,
    // Mahogany brown
    ral_8017: #44322d,
    // Chocolate brown
    ral_8019: #3f3a3a,
    // Grey brown
    ral_8022: #211f20,
    // Black brown
    ral_8023: #a65e2f,
    // Orange brown
    ral_8024: #79553c,
    // Beige brown
    ral_8025: #755c49,
    // Pale brown
    ral_8028: #4e3b31,
    // Terra brown
    ral_8029: #763c28,

    // Pearl copper
    // RAL | 9xxx (White and Black)
    // ------------------------------------------------------------------------
    ral_9001: #fdf4e3,
    // Cream
    ral_9002: #e7ebda,
    // Grey white
    ral_9003: #f4f4f4,
    // Signal white
    ral_9004: #282828,
    // Signal black
    ral_9005: #0a0a0a,
    // Jet black
    ral_9006: #a5a5a5,
    // White aluminum
    ral_9007: #8f8f8f,
    // Grey aluminum
    ral_9010: #ffffff,
    // Pure white
    ral_9011: #1c1c1c,
    // Graphite black
    ral_9016: #f6f6f6,
    // Traffic white
    ral_9017: #1e1e1e,
    // Traffic black
    ral_9018: #d7d7d7,
    // Papyrus white
    ral_9022: #9c9c9c,
    // Pearl light grey
    ral_9023: #828282 // Pearl dark grey
);
