
/* Root Variables */
:root {
  // --------------------------------------------------------------------------
  --N1015: lch(90 12 15);
  --N2015: lch(82 18 15);
  --N3015: lch(74 24 15);
  --N4015: lch(66 30 15);
  --N5015: lch(58 36 15);
  --N6015: lch(50 30 15);
  --N7015: lch(42 24 15);
  --N8015: lch(34 18 15);
  --N9015: lch(26 12 15);
  --N1030: lch(90 12 30);
  --N2030: lch(82 18 30);
  --N3030: lch(74 24 30);
  --N4030: lch(66 30 30);
  --N5030: lch(58 36 30);
  --N6030: lch(50 30 30);
  --N7030: lch(42 24 30);
  --N8030: lch(34 18 30);
  --N9030: lch(26 12 30);
  --N1045: lch(90 12 45);
  --N2045: lch(82 18 45);
  --N3045: lch(74 24 45);
  --N4045: lch(66 30 45);
  --N5045: lch(58 36 45);
  --N6045: lch(50 30 45);
  --N7045: lch(42 24 45);
  --N8045: lch(34 18 45);
  --N9045: lch(26 12 45);
  --N1060: lch(90 12 60);
  --N2060: lch(82 18 60);
  --N3060: lch(74 24 60);
  --N4060: lch(66 30 60);
  --N5060: lch(58 36 60);
  --N6060: lch(50 30 60);
  --N7060: lch(42 24 60);
  --N8060: lch(34 18 60);
  --N9060: lch(26 12 60);
  --N1075: lch(90 12 75);
  --N2075: lch(82 18 75);
  --N3075: lch(74 24 75);
  --N4075: lch(66 30 75);
  --N5075: lch(58 36 75);
  --N6075: lch(50 30 75);
  --N7075: lch(42 24 75);
  --N8075: lch(34 18 75);
  --N9075: lch(26 12 75);
  --N1090: lch(90 12 90);
  --N2090: lch(82 18 90);
  --N3090: lch(74 24 90);
  --N4090: lch(66 30 90);
  --N5090: lch(58 36 90);
  --N6090: lch(50 30 90);
  --N7090: lch(42 24 90);
  --N8090: lch(34 18 90);
  --N9090: lch(26 12 90);
  --N1105: lch(90 12 105);
  --N2105: lch(82 18 105);
  --N3105: lch(74 24 105);
  --N4105: lch(66 30 105);
  --N5105: lch(58 36 105);
  --N6105: lch(50 30 105);
  --N7105: lch(42 24 105);
  --N8105: lch(34 18 105);
  --N9105: lch(26 12 105);
  --N1120: lch(90 12 120);
  --N2120: lch(82 18 120);
  --N3120: lch(74 24 120);
  --N4120: lch(66 30 120);
  --N5120: lch(58 36 120);
  --N6120: lch(50 30 120);
  --N7120: lch(42 24 120);
  --N8120: lch(34 18 120);
  --N9120: lch(26 12 120);
  --N1135: lch(90 12 135);
  --N2135: lch(82 18 135);
  --N3135: lch(74 24 135);
  --N4135: lch(66 30 135);
  --N5135: lch(58 36 135);
  --N6135: lch(50 30 135);
  --N7135: lch(42 24 135);
  --N8135: lch(34 18 135);
  --N9135: lch(26 12 135);
  --N1150: lch(90 12 150);
  --N2150: lch(82 18 150);
  --N3150: lch(74 24 150);
  --N4150: lch(66 30 150);
  --N5150: lch(58 36 150);
  --N6150: lch(50 30 150);
  --N7150: lch(42 24 150);
  --N8150: lch(34 18 150);
  --N9150: lch(26 12 150);
  --N1165: lch(90 12 165);
  --N2165: lch(82 18 165);
  --N3165: lch(74 24 165);
  --N4165: lch(66 30 165);
  --N5165: lch(58 36 165);
  --N6165: lch(50 30 165);
  --N7165: lch(42 24 165);
  --N8165: lch(34 18 165);
  --N9165: lch(26 12 165);
  --N1180: lch(90 12 180);
  --N2180: lch(82 18 180);
  --N3180: lch(74 24 180);
  --N4180: lch(66 30 180);
  --N5180: lch(58 36 180);
  --N6180: lch(50 30 180);
  --N7180: lch(42 24 180);
  --N8180: lch(34 18 180);
  --N9180: lch(26 12 180);
  --N1195: lch(90 12 195);
  --N2195: lch(82 18 195);
  --N3195: lch(74 24 195);
  --N4195: lch(66 30 195);
  --N5195: lch(58 36 195);
  --N6195: lch(50 30 195);
  --N7195: lch(42 24 195);
  --N8195: lch(34 18 195);
  --N9195: lch(26 12 195);
  --N1210: lch(90 12 210);
  --N2210: lch(82 18 210);
  --N3210: lch(74 24 210);
  --N4210: lch(66 30 210);
  --N5210: lch(58 36 210);
  --N6210: lch(50 30 210);
  --N7210: lch(42 24 210);
  --N8210: lch(34 18 210);
  --N9210: lch(26 12 210);
  --N1225: lch(90 12 225);
  --N2225: lch(82 18 225);
  --N3225: lch(74 24 225);
  --N4225: lch(66 30 225);
  --N5225: lch(58 36 225);
  --N6225: lch(50 30 225);
  --N7225: lch(42 24 225);
  --N8225: lch(34 18 225);
  --N9225: lch(26 12 225);
  --N1240: lch(90 12 240);
  --N2240: lch(82 18 240);
  --N3240: lch(74 24 240);
  --N4240: lch(66 30 240);
  --N5240: lch(58 36 240);
  --N6240: lch(50 30 240);
  --N7240: lch(42 24 240);
  --N8240: lch(34 18 240);
  --N9240: lch(26 12 240);
  --N1255: lch(90 12 255);
  --N2255: lch(82 18 255);
  --N3255: lch(74 24 255);
  --N4255: lch(66 30 255);
  --N5255: lch(58 36 255);
  --N6255: lch(50 30 255);
  --N7255: lch(42 24 255);
  --N8255: lch(34 18 255);
  --N9255: lch(26 12 255);
  --N1270: lch(90 12 270);
  --N2270: lch(82 18 270);
  --N3270: lch(74 24 270);
  --N4270: lch(66 30 270);
  --N5270: lch(58 36 270);
  --N6270: lch(50 30 270);
  --N7270: lch(42 24 270);
  --N8270: lch(34 18 270);
  --N9270: lch(26 12 270);
  --N1285: lch(90 12 285);
  --N2285: lch(82 18 285);
  --N3285: lch(74 24 285);
  --N4285: lch(66 30 285);
  --N5285: lch(58 36 285);
  --N6285: lch(50 30 285);
  --N7285: lch(42 24 285);
  --N8285: lch(34 18 285);
  --N9285: lch(26 12 285);
  --N1300: lch(90 12 300);
  --N2300: lch(82 18 300);
  --N3300: lch(74 24 300);
  --N4300: lch(66 30 300);
  --N5300: lch(58 36 300);
  --N6300: lch(50 30 300);
  --N7300: lch(42 24 300);
  --N8300: lch(34 18 300);
  --N9300: lch(26 12 300);
  --N1315: lch(90 12 315);
  --N2315: lch(82 18 315);
  --N3315: lch(74 24 315);
  --N4315: lch(66 30 315);
  --N5315: lch(58 36 315);
  --N6315: lch(50 30 315);
  --N7315: lch(42 24 315);
  --N8315: lch(34 18 315);
  --N9315: lch(26 12 315);
  --N1330: lch(90 12 330);
  --N2330: lch(82 18 330);
  --N3330: lch(74 24 330);
  --N4330: lch(66 30 330);
  --N5330: lch(58 36 330);
  --N6330: lch(50 30 330);
  --N7330: lch(42 24 330);
  --N8330: lch(34 18 330);
  --N9330: lch(26 12 330);
  --N1345: lch(90 12 345);
  --N2345: lch(82 18 345);
  --N3345: lch(74 24 345);
  --N4345: lch(66 30 345);
  --N5345: lch(58 36 345);
  --N6345: lch(50 30 345);
  --N7345: lch(42 24 345);
  --N8345: lch(34 18 345);
  --N9345: lch(26 12 345);
  --N1360: lch(90 12 360);
  --N2360: lch(82 18 360);
  --N3360: lch(74 24 360);
  --N4360: lch(66 30 360);
  --N5360: lch(58 36 360);
  --N6360: lch(50 30 360);
  --N7360: lch(42 24 360);
  --N8360: lch(34 18 360);
  --N9360: lch(26 12 360);
}



/* Classes */

.N1015 { background-color: var(--N1015); }
.N2015 { background-color: var(--N2015); }
.N3015 { background-color: var(--N3015); }
.N4015 { background-color: var(--N4015); }
.N5015 { background-color: var(--N5015); }
.N6015 { background-color: var(--N6015); }
.N7015 { background-color: var(--N7015); }
.N8015 { background-color: var(--N8015); }
.N9015 { background-color: var(--N9015); }
.N1030 { background-color: var(--N1030); }
.N2030 { background-color: var(--N2030); }
.N3030 { background-color: var(--N3030); }
.N4030 { background-color: var(--N4030); }
.N5030 { background-color: var(--N5030); }
.N6030 { background-color: var(--N6030); }
.N7030 { background-color: var(--N7030); }
.N8030 { background-color: var(--N8030); }
.N9030 { background-color: var(--N9030); }
.N1045 { background-color: var(--N1045); }
.N2045 { background-color: var(--N2045); }
.N3045 { background-color: var(--N3045); }
.N4045 { background-color: var(--N4045); }
.N5045 { background-color: var(--N5045); }
.N6045 { background-color: var(--N6045); }
.N7045 { background-color: var(--N7045); }
.N8045 { background-color: var(--N8045); }
.N9045 { background-color: var(--N9045); }
.N1060 { background-color: var(--N1060); }
.N2060 { background-color: var(--N2060); }
.N3060 { background-color: var(--N3060); }
.N4060 { background-color: var(--N4060); }
.N5060 { background-color: var(--N5060); }
.N6060 { background-color: var(--N6060); }
.N7060 { background-color: var(--N7060); }
.N8060 { background-color: var(--N8060); }
.N9060 { background-color: var(--N9060); }
.N1075 { background-color: var(--N1075); }
.N2075 { background-color: var(--N2075); }
.N3075 { background-color: var(--N3075); }
.N4075 { background-color: var(--N4075); }
.N5075 { background-color: var(--N5075); }
.N6075 { background-color: var(--N6075); }
.N7075 { background-color: var(--N7075); }
.N8075 { background-color: var(--N8075); }
.N9075 { background-color: var(--N9075); }
.N1090 { background-color: var(--N1090); }
.N2090 { background-color: var(--N2090); }
.N3090 { background-color: var(--N3090); }
.N4090 { background-color: var(--N4090); }
.N5090 { background-color: var(--N5090); }
.N6090 { background-color: var(--N6090); }
.N7090 { background-color: var(--N7090); }
.N8090 { background-color: var(--N8090); }
.N9090 { background-color: var(--N9090); }
.N1105 { background-color: var(--N1105); }
.N2105 { background-color: var(--N2105); }
.N3105 { background-color: var(--N3105); }
.N4105 { background-color: var(--N4105); }
.N5105 { background-color: var(--N5105); }
.N6105 { background-color: var(--N6105); }
.N7105 { background-color: var(--N7105); }
.N8105 { background-color: var(--N8105); }
.N9105 { background-color: var(--N9105); }
.N1120 { background-color: var(--N1120); }
.N2120 { background-color: var(--N2120); }
.N3120 { background-color: var(--N3120); }
.N4120 { background-color: var(--N4120); }
.N5120 { background-color: var(--N5120); }
.N6120 { background-color: var(--N6120); }
.N7120 { background-color: var(--N7120); }
.N8120 { background-color: var(--N8120); }
.N9120 { background-color: var(--N9120); }
.N1135 { background-color: var(--N1135); }
.N2135 { background-color: var(--N2135); }
.N3135 { background-color: var(--N3135); }
.N4135 { background-color: var(--N4135); }
.N5135 { background-color: var(--N5135); }
.N6135 { background-color: var(--N6135); }
.N7135 { background-color: var(--N7135); }
.N8135 { background-color: var(--N8135); }
.N9135 { background-color: var(--N9135); }
.N1150 { background-color: var(--N1150); }
.N2150 { background-color: var(--N2150); }
.N3150 { background-color: var(--N3150); }
.N4150 { background-color: var(--N4150); }
.N5150 { background-color: var(--N5150); }
.N6150 { background-color: var(--N6150); }
.N7150 { background-color: var(--N7150); }
.N8150 { background-color: var(--N8150); }
.N9150 { background-color: var(--N9150); }
.N1165 { background-color: var(--N1165); }
.N2165 { background-color: var(--N2165); }
.N3165 { background-color: var(--N3165); }
.N4165 { background-color: var(--N4165); }
.N5165 { background-color: var(--N5165); }
.N6165 { background-color: var(--N6165); }
.N7165 { background-color: var(--N7165); }
.N8165 { background-color: var(--N8165); }
.N9165 { background-color: var(--N9165); }
.N1180 { background-color: var(--N1180); }
.N2180 { background-color: var(--N2180); }
.N3180 { background-color: var(--N3180); }
.N4180 { background-color: var(--N4180); }
.N5180 { background-color: var(--N5180); }
.N6180 { background-color: var(--N6180); }
.N7180 { background-color: var(--N7180); }
.N8180 { background-color: var(--N8180); }
.N9180 { background-color: var(--N9180); }
.N1195 { background-color: var(--N1195); }
.N2195 { background-color: var(--N2195); }
.N3195 { background-color: var(--N3195); }
.N4195 { background-color: var(--N4195); }
.N5195 { background-color: var(--N5195); }
.N6195 { background-color: var(--N6195); }
.N7195 { background-color: var(--N7195); }
.N8195 { background-color: var(--N8195); }
.N9195 { background-color: var(--N9195); }
.N1210 { background-color: var(--N1210); }
.N2210 { background-color: var(--N2210); }
.N3210 { background-color: var(--N3210); }
.N4210 { background-color: var(--N4210); }
.N5210 { background-color: var(--N5210); }
.N6210 { background-color: var(--N6210); }
.N7210 { background-color: var(--N7210); }
.N8210 { background-color: var(--N8210); }
.N9210 { background-color: var(--N9210); }
.N1225 { background-color: var(--N1225); }
.N2225 { background-color: var(--N2225); }
.N3225 { background-color: var(--N3225); }
.N4225 { background-color: var(--N4225); }
.N5225 { background-color: var(--N5225); }
.N6225 { background-color: var(--N6225); }
.N7225 { background-color: var(--N7225); }
.N8225 { background-color: var(--N8225); }
.N9225 { background-color: var(--N9225); }
.N1240 { background-color: var(--N1240); }
.N2240 { background-color: var(--N2240); }
.N3240 { background-color: var(--N3240); }
.N4240 { background-color: var(--N4240); }
.N5240 { background-color: var(--N5240); }
.N6240 { background-color: var(--N6240); }
.N7240 { background-color: var(--N7240); }
.N8240 { background-color: var(--N8240); }
.N9240 { background-color: var(--N9240); }
.N1255 { background-color: var(--N1255); }
.N2255 { background-color: var(--N2255); }
.N3255 { background-color: var(--N3255); }
.N4255 { background-color: var(--N4255); }
.N5255 { background-color: var(--N5255); }
.N6255 { background-color: var(--N6255); }
.N7255 { background-color: var(--N7255); }
.N8255 { background-color: var(--N8255); }
.N9255 { background-color: var(--N9255); }
.N1270 { background-color: var(--N1270); }
.N2270 { background-color: var(--N2270); }
.N3270 { background-color: var(--N3270); }
.N4270 { background-color: var(--N4270); }
.N5270 { background-color: var(--N5270); }
.N6270 { background-color: var(--N6270); }
.N7270 { background-color: var(--N7270); }
.N8270 { background-color: var(--N8270); }
.N9270 { background-color: var(--N9270); }
.N1285 { background-color: var(--N1285); }
.N2285 { background-color: var(--N2285); }
.N3285 { background-color: var(--N3285); }
.N4285 { background-color: var(--N4285); }
.N5285 { background-color: var(--N5285); }
.N6285 { background-color: var(--N6285); }
.N7285 { background-color: var(--N7285); }
.N8285 { background-color: var(--N8285); }
.N9285 { background-color: var(--N9285); }
.N1300 { background-color: var(--N1300); }
.N2300 { background-color: var(--N2300); }
.N3300 { background-color: var(--N3300); }
.N4300 { background-color: var(--N4300); }
.N5300 { background-color: var(--N5300); }
.N6300 { background-color: var(--N6300); }
.N7300 { background-color: var(--N7300); }
.N8300 { background-color: var(--N8300); }
.N9300 { background-color: var(--N9300); }
.N1315 { background-color: var(--N1315); }
.N2315 { background-color: var(--N2315); }
.N3315 { background-color: var(--N3315); }
.N4315 { background-color: var(--N4315); }
.N5315 { background-color: var(--N5315); }
.N6315 { background-color: var(--N6315); }
.N7315 { background-color: var(--N7315); }
.N8315 { background-color: var(--N8315); }
.N9315 { background-color: var(--N9315); }
.N1330 { background-color: var(--N1330); }
.N2330 { background-color: var(--N2330); }
.N3330 { background-color: var(--N3330); }
.N4330 { background-color: var(--N4330); }
.N5330 { background-color: var(--N5330); }
.N6330 { background-color: var(--N6330); }
.N7330 { background-color: var(--N7330); }
.N8330 { background-color: var(--N8330); }
.N9330 { background-color: var(--N9330); }
.N1345 { background-color: var(--N1345); }
.N2345 { background-color: var(--N2345); }
.N3345 { background-color: var(--N3345); }
.N4345 { background-color: var(--N4345); }
.N5345 { background-color: var(--N5345); }
.N6345 { background-color: var(--N6345); }
.N7345 { background-color: var(--N7345); }
.N8345 { background-color: var(--N8345); }
.N9345 { background-color: var(--N9345); }
.N1360 { background-color: var(--N1360); }
.N2360 { background-color: var(--N2360); }
.N3360 { background-color: var(--N3360); }
.N4360 { background-color: var(--N4360); }
.N5360 { background-color: var(--N5360); }
.N6360 { background-color: var(--N6360); }
.N7360 { background-color: var(--N7360); }
.N8360 { background-color: var(--N8360); }
.N9360 { background-color: var(--N9360); }


//
