

.niji_136 {
    background-color: lch(90, 12, 360);
}



.niji_236: lch(84 18 360);
.niji_336: lch(78 24 360);
.niji_436: lch(72 30 360);
.niji_536: lch(66 36 360);
.niji_636: lch(54 30 360);
.niji_736: lch(42 24 360);
.niji_836: lch(30 18 360);
.niji_936: lch(18 12 360);


.niji_136 {
    background-color: 
}
background-color: lch(90 12 360);
.niji_236: lch(84 18 360);
.niji_336: lch(78 24 360);
.niji_436: lch(72 30 360);
.niji_536: lch(66 36 360);
.niji_636: lch(54 30 360);
.niji_736: lch(42 24 360);
.niji_836: lch(30 18 360);
.niji_936: lch(18 12 360);