// ============================================================================
//
// {{ name }}
// {{ version }}
//
// ============================================================================


// General
// ============================================================================

export enum hue_hex {

{% for group_name, group in colors %}
    // {{ group_name }}
    // ------------------------------------------------------------------------

{% for color_name, color in group %}
    {{ color_name }} = '{{ color.hex() }}',
{% endfor %}

{% endfor %}

}


