|      | 1    | 2    | 3    | 4    | 5    | 6    | 7    | 8    | 9    |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
{% for group_name, group in colors -%}
| **{{ group_name }}** |
{%- for color_name, color in group %} <span style="display:block;height:2.5em;background:{{ color.hex() }}" title="{{ color_name }} {{ color.hex() }}"></span><small>{{ color_name }}<br>{{ color.hex() }}</small> |{% endfor %}

{% endfor %}
