// ============================================================================
//
// {{ name }}
// {{ version }}
//
// ============================================================================


// General
// ============================================================================

$hue: (
{% for group_name, group in colors %}


    // {{ group_name }}
    // ------------------------------------------------------------------------

{% for color_name, color in group %}
    {{ color_name }}: hcl({{ color.hcl().h }}, {{ color.hcl().c }}, {{ color.hcl().l }}),
{% endfor -%}



{% endfor %}

)
