/*
 *
 *  NIJI
 *  v {{ version }}
 *
 *  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */


:root {

    /*  Base Colors
     * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */



    /*  Hue Colors
     * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

    {% for hue in hues %}

    /* {{ hue.name }}
     * ───────────────────────────────────────────────────────────────────── */

    {% for color in hue.colors %}
    --N{{color.code}}: rgb({{color.rgb.r}}, {{color.rgb.g}}, {{color.rgb.b}});
    {% endfor %}

    {% endfor %}

}
